<section>
  <div class="container">
      <div class="row">
          <div class="col center-block">
              <hr class="separation-contenu">
                  <h1 class="titre-tableau">Panneau Tondeuse</h1>
            <hr class="separation-contenu-bottom">
            <div class="table-fix-head">
              <table class="table-light table-fixed table-hover">
                <thead>
                  <tr>
                      <th>Statut</th>
                      <th>Nom</th>
                      <th>Charge Batterie</th>
                      <th>Action</th>
                      <th>C.R.U.D</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tondeuse of data | paginate: { itemsPerPage: 4, currentPage: p } ; let i = index">
                      <td>
                          <div [ngClass]="{'btn-statut-off': tondeuse.statut === 'Off', 'btn-statut-on': tondeuse.statut === 'On'}">
                          </div>
                      </td>
                      <td [ngStyle]="{color: getColor(tondeuse.statut)}">{{ tondeuse.nom }}</td>
                      <td [ngClass]="{'cellule-alert': tondeuse.capteurbatterie < 30}">{{ tondeuse.capteurbatterie }}%</td>
                      <td>
                        <button class="btn btn-switch-on"
                        *ngIf="tondeuse.statut === 'Off'"
                        (click)="onSwitch(i, tondeuse.statut)">Allumer</button>
                        <button class="btn btn-switch-off"
                        *ngIf="tondeuse.statut === 'On'"
                        (click)="onSwitch(i, tondeuse.statut)">Eteindre</button>
                      </td>
                      <td>
                        <button class="btn btn-custom-crud" href="">
                          <img src="assets/images/change.png" routerLink="modifierequipement" alt="Modifier" title="Modifier">
                        </button>
                        <button class="btn btn-custom-crud" href="">
                          <img src="assets/images/delete.png" alt="Supprimer" title="Supprimer">
                        </button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--Including the pagination control.-->
            <div class="container">
              <div class="row justify-content-center">
                <div class="text-center ml-auto pagination-custom">
                  <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <button id="submit" class="btn btn-add-equipement" routerLink="equipement">Ajouter</button>
            </div>

          </div>
      </div>
  </div>
</section>
