<div class="wrapper">
  <h2 class="h2-titre-appli shadows">Modifier Equipement</h2>
  <div id="formContent">
    <form (ngSubmit)="onSubmit(evt)">
      <input type="text" id="nom" placeholder="Nom" value="{{arrosage.nom}}" required>
      <input type="text" id="localisation" class="input-custom" placeholder="Localisation" value="{{arrosage.localisation}}" required>

      <button id="submit" type="submit" class="btn btn-secondary btn-log btn-modifier" alt="Modifier" title="Modifier">Modifier</button>
    </form>

    <div id="formFooter">
      <a class="underlineHover" (click)="goBack()" routerLink="">Retour</a><br>
    </div>

  </div>
</div>