<section>
    <div class="container">
        <div class="row">
            <div class="col center-block">
                <hr class="separation-contenu">
                  <h1 class="titre-tableau">Panneau Bassin</h1>
              <hr class="separation-contenu-bottom">

              <div class="table-fix-head">
                <table class="table-light table-fixed table-hover">

                  <thead>
                    <tr class="fonts-tableau-custom">
                      <th>Statut</th>
                      <th>Nom</th>
                      <th>Action</th>
                      <th>C.R.U.D</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let bassin of bassins | paginate: { itemsPerPage: 4, currentPage: p } ; let i = index">
                      <td>
                        <!--Including Statut-->
                        <div [ngClass]="{'btn-statut-off': bassin.statut === '0', 'btn-statut-on': bassin.statut === '1'}"></div>
                      </td>
                      <!--Including Nom-->
                      <td [ngStyle]="{color: getColor(bassin.statut)}">{{ bassin.nom }}</td>
                      <td>
                        <!--Including Action-->
                        <button class="btn btn-switch-on"
                        *ngIf="bassin.statut === '0'"
                        (click)="onSwitch(i, bassin.statut)">Allumer</button>
                        <button class="btn btn-switch-off"
                        *ngIf="bassin.statut === '1'"
                        (click)="onSwitch(i, bassin.statut)">Eteindre</button>
                      </td>
                      <td>
                        <!--Including button Modifier-->
                        <button class="btn btn-custom-crud" alt="Modifier" title="Modifier" [routerLink]="['updateteequipement', bassin.bassinId]">
                          <img src="assets/images/change.png">
                        </button>
                        <!--Including button Supprimer-->
                        <button class="btn btn-custom-crud" alt="Supprimer" title="Supprimer" [routerLink]="['deleteequipement', bassin.bassinId]">
                          <img src="assets/images/delete.png">
                        </button>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>  <!--Close div class="table-fix-head"-->

              <!--Including pagination control-->
              <div class="container">
                <div class="row justify-content-center">
                  <div class="text-center ml-auto pagination-custom">
                    <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
                  </div>
                </div>
              </div>

              <!--Including button Ajouter-->
              <div class="row justify-content-center">
                <button id="submit" class="btn btn-add-equipement" routerLink="addequipement">Ajouter</button>
              </div>

            </div>  <!--Close div class="col center-block"-->
        </div>
    </div>
</section>
