<section>
    <div class="container">
        <div class="row">
            <div class="col center-block">
                <hr class="separation-contenu">
                    <h1 class="titre-tableau">Panneau Bassin</h1>
              <hr class="separation-contenu-bottom">
              <div class="table-fix-head">
                <table class="table-light table-fixed">
                  <thead>
                    <tr>
                        <th>Statut</th>
                        <th>Nom</th>
                        <th>Action</th>
                        <th>C.R.U.D</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bassin of data | paginate: { itemsPerPage: 4, currentPage: p } ; let i = index">
                        <td>
                            <div [ngClass]="{'btn-statut-off': bassin.statut === 'Off', 'btn-statut-on': bassin.statut === 'On'}">
                            </div>
                        </td>
                        <td [ngStyle]="{color: getColor(bassin.statut)}">{{ bassin.nom }}</td>
                        <td>
                            <button class="btn btn-switch-on"
                            *ngIf="bassin.statut === 'Off'"
                            (click)="onSwitch(i, bassin.statut)">Allumer</button>
                            <button class="btn btn-switch-off"
                            *ngIf="bassin.statut === 'On'"
                            (click)="onSwitch(i, bassin.statut)">Eteindre</button>
                        </td>
                        <td>
                          <button class="btn btn-custom-crud" href="">
                            <img src="assets/images/change.png" alt="Modifier" title="Modifier">
                          </button>
                          <button class="btn btn-custom-crud" href="">
                            <img src="assets/images/delete.png" alt="Supprimer" title="Supprimer">
                          </button>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--Including the pagination control.-->
              <div class="container">
                <div class="row justify-content-center">
                  <div class="text-center ml-auto pagination-custom">
                    <pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <button id="submit" class="btn btn-add-equipement" routerLink="equipement">Ajouter</button>
              </div>

            </div>
        </div>
    </div>
</section>
