.img-custom {
  border:4px solid #95cb11;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  margin: 2em;
}
.responsive {
  width: 100%;
}
.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.row {
  display: block !important;
}

/*------Responsive------*/

@media all and (max-width: 992px) {
  .container {
    margin-bottom: 5rem;
  }
}


