<div class="wrapper">
  <h2 class="h2-titre-appli shadows">Ajouter Equipement</h2>
  <div id="formContent">
    <form ng-submit="submit()">
      <input type="text" id="nom" placeholder="Nom" required>
      <input type="text" id="localisation" class="input-custom" placeholder="Localisation" required>

      <button id="submit" class="btn btn-secondary btn-log btn-ajouter" alt="Ajouter" title="Ajouter" (click)="onSave()" routerLink="/intranet/easy-garden/arrosage">Ajouter</button>
    </form>

    <div id="formFooter">
      <a class="underlineHover" (click)="goBack()" routerLink="">Retour</a><br>
    </div>

  </div>
</div>

