<footer>
  <a class="text-custom">© 2019 <a class="name-color">Darka KZO</a> - All rights reserved.</a>
  <div class="container container-footer-custom">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 border-custom">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="" target="new">
            <i class="fa fa-linkedin"></i></a>
          </li>
          <li class="list-inline-item"><a href="" target="new">
            <i class="fa fa-facebook"></i></a>
          </li>
          <li class="list-inline-item"><a href="" target="new">
            <i class="fa fa-envelope"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
