<div class="wrapper page-wrap d-flex flex-row align-items-center fadeInDown">
  <div class="container" id="formContent">
      <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <span class="display-1 d-block">404</span>
              <div class="mb-4 lead">The page you are looking for was not found.</div>
              <a class="underlineHover" routerLink="/intranet/easy-garden">Retour Ecran Accueil</a>
          </div>
      </div>
  </div>
</div>
