<section>
  <div class="container">
      <div class="row">
          <div class="col center-block">
            <hr class="separation-contenu">
              <h1 class="titre-tableau">Panneau Portail</h1>
            <hr class="separation-contenu-bottom">

            <div class="table-fix-head">
              <table class="table-light table-fixed table-hover">

                <thead>
                  <tr class="fonts-tableau-custom">
                    <th>Statut</th>
                    <th>Nom</th>
                    <th>Localisation</th>
                    <th>Capteur Présence</th>
                    <th>Action</th>
                    <th>C.R.U.D</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let portail of portails | paginate: { itemsPerPage: 4, currentPage: p} ; let i = index">
                    <td>
                      <!--Including Statut-->
                      <div [ngClass]="{'btn-statut-off': portail.statut === false, 'btn-statut-on': portail.statut === true}"></div>
                    </td>
                    <!--Including Nom-->
                    <td [ngStyle]="{color: getColor(portail.statut)}">{{ portail.nom }}</td>
                    <!--Including Localisation-->
                    <td>{{ portail.localisation }}</td>
                    <!--Including CapteurPresence-->
                    <td [ngClass]="{'cellule-alert': portail.capteurPresence > 0}">{{ portail.capteurPresence }}</td>
                    <td>
                      <!--Including Action-->
                      <button class="btn btn-switch-on"
                      *ngIf="portail.statut === false"
                      (click)="onSwitch(i, portail.statut)">Ouvrir</button>
                      <button class="btn btn-switch-off"
                      *ngIf="portail.statut === true"
                      (click)="onSwitch(i, portail.statut)">Fermer</button>
                    </td>
                    <td>
                      <!--Including button Modifier-->
                      <button class="btn btn-custom-crud" alt="Modifier" title="Modifier" [routerLink]="['updateequipement', portail.portailId]">
                        <img src="assets/images/change.png">
                      </button>
                      <!--Including button Supprimer-->
                      <button class="btn btn-custom-crud" alt="Supprimer" title="Supprimer" [routerLink]="['deleteequipement', portail.portailId]">
                        <img src="assets/images/delete.png">
                      </button>
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>  <!--Close div class="table-fix-head"-->

            <!--Including pagination control-->
            <div class="container">
              <div class="row justify-content-center">
                <div class="text-center ml-auto pagination-custom">
                  <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
                </div>
              </div>
            </div>

            <!--Including button Ajouter-->
            <div class="row justify-content-center">
              <button id="submit" class="btn btn-add-equipement" alt="Ajouter" title="Ajouter" routerLink="addequipement">Ajouter</button>
            </div>

          </div>  <!--Close div class="col center-block"-->
      </div>
  </div>
</section>

